.login{
	position: fixed;
	top: 30%;
	right: 40%;
	z-index: 10;
}
.login{
	width: 300px;
	height: 280px;
	border: 1px solid grey;
	border-radius: 10px;
	text-align: center;
	margin: 50px auto;
}
.login{
	background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgb(89, 224, 224)));
	background: -webkit-linear-gradient(bottom, #ffffff 0%, rgb(89, 224, 224) 100%);
	background: -moz-linear-gradient(bottom, #ffffff 0%, rgb(89, 224, 224) 100%);
	background: -o-linear-gradient(bottom, #ffffff 0%, rgb(89, 224, 224) 100%);
	background: linear-gradient(to top, #ffffff 0%, rgb(89, 224, 224) 100%);
}
h2{
	color:rgb(42, 30, 150);
	font-family: sans-serif;
	margin-bottom: 30px;
	margin-top: 15px;
}
.login .txtpass, .txtemail {
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 20px;
}
.nhomatkhau{
	display: inline-block;
	height: 30px;
}
#remember{
	width: fit-content;
	margin-right: 10px;
}
.login button{
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border:none;
	background-color: rgb(89, 224, 224);
	color: white;
	margin-top: 5px;
	color: black;
}
.login button:hover{
	text-align: center;
	width: 150px;
	transition: 0.5s;
}
.is-hidden{
	display: none;
}