.thongtin{
    height: 85%;
    width: 50%;
    background-color: white;
    position: fixed;
    border-radius: 10px;
    top: 10%;
    right: 25%;
    overflow: scroll;
}
.thongtin1{
    position: relative;
    margin: 20px 35px 10px;
}
.headd{
    padding: 10px;
    align-items: center;
    position: relative;
    text-align: center;
}
.headd hr{
    display: inline-block;
    text-align: justify;
    margin-bottom: 4px;
    padding-top: 3px;
    color: rgb(32, 196, 155);
    width: 30%;
    height: 5px;
}
.headd span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    color: rgb(32, 196, 155);
}
.FileAnhChanDung{
    position: absolute;
    top: 80px;
    right: 70px;
}
#hovaten{
    position: relative;
    font-size: 30px;
    left: 55px;
    top: 10px;
    color: rgb(32, 196, 155);
}
.thongtin1{
    font-size: 18px;
    display: inline-block;
    margin-top: 10px;
}
.thongtin1 div{
    display: flex;
    align-items: center;
    padding: 2px 0;
}
.thongtin1{
    font-size: 18px;
    display: inline-block;
}
.thongtin1 div i{
    font-size: 30px;
    color: rgb(32, 196, 155);
    margin-right: 10px;
}
.lilich{
    margin-left: 40px;
}
.lilich div{
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
}

.anh{
    margin-left: 40px;
}
.anh img{
    height: 380px;
    width: 550px;
}
.anh div{
   text-align:  center;
}

.anh div div{
    font-size: 18px;
    color: rgb(32, 196, 155);
    text-align: left;
    font-weight: bold;
}
.anh div img{
    color: red;
}
.thongtin button{
	width: 100px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border:none;
	background-color: rgb(89, 224, 224);
	color: white;
	margin-top: 5px;
	color: black;
}
.thongtin button:hover{
	text-align: center;
	width: 150px;
	transition: 0.5s;
}
.buttonn{
    text-align: center;
}